# Wallet encryption password (set this to your chosen password)
WALLET_ENCRYPTION_PASSWORD=your_secure_password_here

# Alpaca stock/ETF lane (paper)
ALPACA_KEY_ID=your_paper_key_id
ALPACA_SECRET_KEY=your_paper_secret_key
